.underline-wrapper {
  width: 100%;
  height: 2px;
  overflow: hidden;
}

.underline-line {
  width: 0;
  height: 2px;
  background-color: rgb(202, 200, 200);
  transition: width 1s ease-out;

  &.animate {
    width: 100%;
  }
}
