/* Typography + Colors */
body {
  font-family: 'Montserrat', sans-serif;
  color: #233977;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800 !important;
  color: #233977;
  line-height: 1.2;
}

p {
  font-size: 23px;
  font-weight: 400;
  line-height: 28.75px;
  color: #4F4F4F;
}

a {
  color: #233977;
  font-weight: 500;
}

.btn-success {
  background-color: #00C896 !important;
  border: none;
  padding: 12px 24px;
  font-weight: 600;
}

.btn-primary {
  background-color: #233977 !important;
  border: none;
  padding: 12px 24px;
  font-weight: 600;
}

.demo-icon {
  width: 40px;
  height: 40px;
  background: #233977;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 10px;
}
